<p id="notice"><%= notice %></p>
<div id="food-detail">
  <div class="col-xs-12 food-name">
    <p><%= @food_item.name %></p>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div id="food-image" class="col-md-4">
        <%= image_tag @food_item.image_url, id: 'detail-image' %>
      </div>
      <div id="detail-panel" class="col-md-8">
        <div id="price" class="fa fa-money col-xs-4">
          <%= number_to_currency @food_item.price, locale: :vi, precision: 0 %> / 1 unit
        </div>
        <div id="section" class="col-xs-2 pull-xs-right"><%= @food_item.section.section_name %></div>
        <div id="food-desc" class="col-xs-12">
          <%= @food_item.description %>
        </div>
      </div>
    </div>
  </div>
</div>